{% set active_page = "Sponsors" %}
{% set page_title = "Sponsors" %}
{% extends "base.html" %}

{% block content %}
<table>
  <tr>
    <td><img src="static/images/sponsor-logos/apple-logo.png" width="180px" height="220px">
    <td><img src="static/images/sponsor-logos/netflix-logo.png" width="391px" height="220px">
    <td><img src="static/images/sponsor-logos/google-logo.jpg"  width="391px" height="220px">
</tr>
</table>
<table>
<tr>
  <td><img src="static/images/sponsor-logos/splash-logo.png"  width="391px" height="220px">
  <td><img src="static/images/sponsor-logos/att-logo.jpg" width="391px" height="220px">
  <td><img src="static/images/sponsor-logos/chalearn-logo.png" width="391px" height="220px">
</tr>
</table>
{% endblock %}
