{% set active_page = "Sponsors" %}
{% set page_title = "Sponsors" %}
{% extends "base.html" %}

{% block content %}
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; width: 1000px; gap: 0;">
    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="static/images/sponsor-logos/scu-logo-web.png" style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>    
    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="" style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>
    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="static/images/sponsor-logos/UCSC-Logo.png"    style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>

    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="static/images/sponsor-logos/apple-logo.png" style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>   
    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="static/images/sponsor-logos/netflix-logo.png" style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>
    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="static/images/sponsor-logos/google-logo.jpg"    style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>

    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="static/images/sponsor-logos/splash-logo.png" style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>   
    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="static/images/sponsor-logos/att-logo.jpg" style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>
    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="static/images/sponsor-logos/chalearn-logo.png"    style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>

    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="static/images/sponsor-logos/ServiceNow-Logo.png" style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>   
    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="" style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>
    <div style="height: 220px; display: flex; align-items: center; justify-content: center;" >
      <img src="static/images/sponsor-logos/ScaleAI-logo.png"    style="max-width: 100%; max-height: 100%; object-fit: contain;"> 
    </div>
</div>
{% endblock %}
